.box--footer {
    height: 310px;
    border-top: 1px solid rgba(23, 46, 151, 0.2);
    flex-wrap: wrap;
}

.logo-container {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: flex-end;
}

.list-container {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.list-container__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-box {
    position: relative;
    top: 30px;
    width: 325px;
    height: 48px;
    border: 1px solid rgba(23, 46, 151, 0.3);
    padding-left: 10px;
    border-radius: 5px;
}

.text-box::placeholder {
    color: rgba(23, 46, 151, 0.3);
}

.link {
    text-decoration: none;
}

.btn__footer-sign-up {
    width: 131px;
    height: 39px;
}
