
/* ------ Heading ------ */

.header--heading {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}

/* ------ Text ------ */

.header--text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
    padding: 30px 30px 45px 0;
}

/* ------ Buttons ------ */

.header__actions {
    display: flex;
    align-items: center;
}

.btn__sign-up {
    width: 175px;
    height: 53px;
}

.btn__sign-up--attributes {
    background-color: #FF9900;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

/* ------ video Link ------ */

.play-icon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid  #FF9900;
    border-bottom: 10px solid transparent;
    margin: 0 8px 0 30px;
  }

.header_video-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
  }

.header_video-link:hover {
    color: #d88200;
  } 
