/* ----------- Generic ------------ */

.box--main {
    justify-content: space-between;
    align-items: center;
}

.heading--attribute {
    margin-bottom: 30px;
}

.sub-heading--attribute {
    margin-top: 25px;
}

/* ---- Professionals section ---- */

.box--professionals {
    height: 580px;
}

.professionals__text {
    width: 486px;
}

/* ------- Managers section ------ */

.box--managers {
    height: 520px;
}

.managers__text {
    width: 486px;
    height: 427px;
}

.heading--managers {
    margin-bottom: 22px;
}

.text--managers {
    margin-top: 30px;
}

.list--managers {
    display: flex;
    align-items: center;
}

.manager-list-icon {
    width: 35px;
    height: 35px;
    margin-right: 30px;
    margin-top: 30px;
}

/* ------ Marketers section ------ */

.box--marketers {
    height: 610px;
}

