.box--professionals {
    height: 580px;
    align-items: center;
}

.professionals__text {
    width: ;
}

.box--managers {
    height: 520px;
    background-color: teal;
}

.box--marketers {
    height: 610px;
    background-color: rgb(247, 133, 113);
}

