@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

/* ------ Generic ------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.body {
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.sub-heading {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;

}

.image--right {
    margin-left: 30px;
}

/* ------ Nav-Bar ------ */

.nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 78px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    
}

/* ------ Logo ------ */

.logo {
    width: 20%;
    height: auto;
}

.logo__img {
    width: 185px;
    height: 32px;
}

.logo__img:hover {
    transform: scale(1.1);
}

/* ------ Nav Links ------ */

.nav__block {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}

.nav__items {
    display: flex;
}

.list {
    list-style-type: none;
}

.nav--links {
    padding-right: 25px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #2F281E;  
}

.nav--links:hover {
    color: rgba(0, 0, 0, .5);
}

/* ------ Sign In / Sign Up ------ */

.btn {
    color: #fff;
    background-color: #FF9900;
    border: none;
}

.btn__nav {
    width: 106px;
    height: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    border-radius: 5px;
}

.btn__nav--sign-in {
    margin-right: 14px;
    color: #173A56;
    background-color: #fff;
    border: 1px solid rgba(23, 46, 151, 0.2);
}

.btn:hover {
    background-color: #d88200;
}

.btn__nav--sign-in:hover {
    background-color: rgb(236, 235, 234);
}

/* ------ Footer ------ */

.footer {
    display: flex;
}